<template>
  <div class="container">
    <b-notification :active.sync="notificationVisible" :type="notificationType">{{notificationText}}</b-notification>

    <div>
      <button class="button is-pulled-right" @click="regenerate">Regenerate</button>
      <h1 class="title">Asset Allocation</h1>
    </div>
    <pre>{{report}}</pre>
  </div>
</template>
<script>
import localforage from "localforage";
import configManager from "~/src/configManager.js";
import axios from "axios";
import buefy from "buefy";

const reportKey = "asset-allocation.report";

export default {
  name: "asset-allocation",
  data() {
    return {
      report: null,
      notificationVisible: false,
      notificationText: null,
      notificationType: null
    };
  },
  mounted: function() {
    var that = this;

    // load cached report
    localforage.getItem(reportKey).then(function(value) {
      if (!value) value = "No report cached. Please refresh from the server.";

      that.report = value;
    });
  },
  methods: {
    regenerate: function() {
      // clear the view
      this.report = null;

      var that = this;

      // make a call to the server to regenerate the asset allocation
      // load server url
      configManager.load().then(function(settings) {
        // continue with loading
        that.fetchFromServer(settings.serverUrl);
      });
    },
    fetchFromServer: function(serverUrl) {
      var that = this;
      var apiUrl = serverUrl + "/assetallocation/generate";

      axios
        .get(apiUrl)
        .then(function(response) {
          //console.log(response);
          var report = response.data;
          // append the current date/time
          var today = new Date();
          var append = "Generated on " + today + "\n";
          report = append + report;

          that.report = report;

          // cache the report
          localforage.setItem(reportKey, report);
        })
        .catch(error => {
          that.notificationVisible = true;
          that.notificationText = error.message;
          that.notificationType = "is-danger";

          //console.log(error);
        });
    }
  }
};
</script>
