<template>
  <div>
    <h3>
      Favourite Accounts
      <small v-on:click="refresh">(refresh)</small>
    </h3>
    <div>
      <div v-for="(account, index) in accounts" :key="index">
        <small>{{ account.name }}</small>
        {{ account.balance }}
      </div>
    </div>
  </div>
</template>
<script>
import configManager from "~/src/configManager.js";
import axios from "axios";
import localforage from "localforage";

const cacheKey = "account.favourites.data";

export default {
  data() {
    return {
      accounts: []
    };
  },
  mounted: function() {
    // load favourite accounts
    this.loadData();
  },
  methods: {
    cacheData: function(data) {
      localforage.setItem(cacheKey, data);
    },
    loadData: function() {
      var that = this;
      // get cached data
      localforage.getItem(cacheKey).then(function(value) {
        //if (!value) value = "No report cached. Please refresh from the server.";

        //that.report = value;
        that.accounts = value;
      });

      configManager.load().then(settings => {
        var url = settings["serverUrl"] + "/account/favourites";
        axios
          .get(url)
          .then(response => {
            //console.log(response.data);
            this.cacheData(response.data);
            this.showData(response.data);
          })
          .catch(error => {
            console.log(error);
          });
      });
    },
    refresh: function() {
      // clear cache and refresh
      localforage.removeItem(cacheKey);
      this.loadData();
    },
    showData: function(modelArray) {
      this.accounts = modelArray;
    }
  }
};
</script>
