<template>
  <div class="container">
    <div class="columns">
      <div class="column">
        <favourites></favourites>
        </div>
      <div class="column">
        <p>asset allocation</p>
      </div>
      <div class="column">
        <p>upcoming scheduled transactions</p>
      </div>
    </div>
  </div>
</template>
<script>
import configManager from "~/src/configManager.js";
import favourites from "./FavouriteAccounts.vue";

export default {
  name: "home",
  data() {
    return {};
  },
  mounted: function() {
    // Check if we have the settings. If not, go to settings.
    this.storageTest();
  },
  methods: {
    goToSettings: function() {
      this.$router.push("/settings");
    },
    storageTest: function() {
      var that = this;

      // See if there are settings available.
      configManager.load().then(value => {
        if (!value) {
          that.goToSettings();
          return;
        }
        if (!value.serverUrl) {
          that.goToSettings();
          return;
        } else {
          if (that.debug) console.log("settings found:", value);
        }
      });
    }
  },
  components: {
    favourites
  }
};
</script>
