<template>
  <div>
    <!-- class=container -->
    <div>
      <button class="button is-pulled-right" v-on:click="refresh">Clear Cache</button>
      <h1>Portfolio Value Report</h1>
    </div>
    <p>{{ message }}</p>
    <table class="table" v-if="loaded">
      <thead>
        <th>Exch.</th>
        <th>Symbol</th>
        <th>Shares</th>
        <th>Avg.Pr.</th>
        <th>Price</th>
        <th>Currency</th>
        <th>Cost</th>
        <th>Balance</th>
        <th>Gain/Loss</th>
        <th>%</th>
        <th>Income</th>
        <th>12m</th>
        <th>12m %</th>
      </thead>
      <tbody>
        <tr v-for="row in stockRows" :key="row.id">
          <td>{{ row.exchange }}</td>
          <td>{{ row.symbol }}</td>
          <td class="right-align">{{ row.shares_num }}</td>
          <td class="right-align">{{ row.avg_price | formatNumber }}</td>
          <td class="right-align">{{ row.price }}</td>
          <td>{{ row.currency }}</td>
          <td class="right-align">{{ row.cost | formatNumber }}</td>
          <td class="right-align">{{ row.balance | formatNumber}}</td>
          <td class="right-align">{{ row.gain_loss | formatNumber }}</td>
          <td class="right-align">{{ row.gain_loss_perc | formatNumber }}</td>
          <td class="right-align">{{ row.income | formatNumber }}</td>
          <td class="right-align">{{ row.income_last_12m | formatNumber }}</td>
          <td class="right-align">{{ row.income_last_12m_perc | formatNumber }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<style>
table td.right-align {
  text-align: right;
}
</style>
<script>
import configManager from "~/src/configManager.js";
import axios from "axios";
import Vue from "vue";
var numeral = require("numeral");
import localforage from "localforage";

const cacheKey = "portfoliovalue.report";

Vue.filter("formatNumber", function(value) {
  // displaying other groupings/separators is possible, look at the docs
  return numeral(value).format("0,0.00");
});

export default {
  data() {
    return {
      message: "data not loaded. please refresh",
      stockRows: [],
      loaded: false
    };
  },
  mounted: function() {
    this.showReport();
  },
  methods: {
    /**
     * Load data from the server.
     */
    fetchData: function() {
      // load the report from the server.
      configManager.load().then(settings => {
        //console.log('settings loaded:', settings);
        var url = settings["serverUrl"] + "/portfoliovalue/report";

        this.message = "loading...";
        this.loaded = false;

        axios
          .get(url)
          .then(response => {
            this.message = "";

            var stockRows = response.data.stock_rows;

            // use local cache.
            this.cacheData(stockRows);
            this.displayData(stockRows);
          })
          .catch(error => {
            console.log(error);
          });
      });
    },
    showReport: function() {
      // get from cache
      var that = this;
      localforage.getItem(cacheKey).then(function(value) {
        //console.log(value);
        that.stockRows = value;

        if (!value) {
          // fetch from server
          that.fetchData();
        }

        that.loaded = true;
        that.message = null;
      });
    },
    displayData: function(data) {
      //jsonContent = JSON.parse(data);
      if (data) {
        this.stockRows = data;
      }

      //console.log(this.stockRows[0]);
    },
    refresh: function() {
      // clear cache
      localforage.removeItem(cacheKey);
      // fetch
      this.fetchData();
    },
    cacheData: function(data) {
      localforage.setItem(cacheKey, data);
    }
  }
};
</script>
