<template>
  <div class="container">
    <div class="field">
      <label class="label">Price</label>
      <div class="control"> <!-- has-icons-right -->
        <input
          name="price"
          class="input is-rounded"
          type="text"
          placeholder="Price"
          @change="calculate"
          v-model="price"
          @keyup="calculate"
        >
        <!-- <span class="icon is-small is-right" @click="clearAmount">
          <i class="iconify" data-icon="oi-circle-x"></i>
        </span> -->
      </div>
    </div>
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input
          name="amount"
          class="input"
          type="number"
          placeholder="Amount"
          v-model="amount"
          @keypress="amountChanged"
          @change="amountChanged"
        >
      </div>
    </div>

    <div>
      <span>Units:</span>
      <strong>{{units}}</strong>
    </div>
  </div>
</template>
<script>
import localforage from "localforage";

const amountKey = "purchase-calculator.amount";

export default {
  name: "Purchase-Calculator",
  mounted() {
    var that = this;

    // load the amount
    localforage.getItem(amountKey).then(function(value) {
      that.originalAmount = value;
      that.amount = value;
    });
  },
  data() {
    return {
      price: null,
      originalAmount: null,
      amount: null,
      units: null
    };
  },
  methods: {
    amountChanged() {
      // save amount
      if (this.amount !== this.originalAmount) {
        localforage.setItem(amountKey, this.amount);
      }
      // recalculate
      this.calculate();
    },
    calculate() {
      var units = this.amount / this.price;
      this.units = units.toFixed(4);
    },
    clearAmount() {
        this.amount = null
    }
  }
};
</script>
