<template>
  <div>
    <section class="container">
      <div class="notification" :class="notificationType" v-show="notificationVisible">
        <button class="delete" @click="hideNotification"></button>
        <p>{{notificationMessage}}</p>
      </div>

      <h1 class="title">Settings</h1>
      <h2 class="subtitle">Set your settings here</h2>
      <div class="container">
        <div class="field is-expanded">
          <label class="label">API server URL</label>
          <div class="control">
            <p>
              <input
                class="input"
                type="text"
                placeholder="Server URL"
                v-model="settings.serverUrl"
              >
            </p>
          </div>
        </div>

        <div style="height: 2.5rem;"></div>

        <!-- buttons -->
        <div class="field">
          <button class="button is-pulled-left is-light">Back</button>
          <button class="button is-pulled-right is-primary" @click="saveSettings">Save</button>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import configManager from "~/src/configManager.js";

export default {
  name: "settings",
  mounted: function() {
    var that = this;

    configManager.load().then(function(value) {
      if (value === null) {
        that.showNotification("No valid settings have been found. Please add them here and save.", "warning")
      } else {
        //console.debug("loaded settings: ", value);
        that.settings = value;
      }
    });
  },
  data() {
    return {
      settings: configManager.defaultSettings,
      notificationVisible: false,
      notificationMessage: '',
      notificationType: ''
    };
  },
  methods: {
    swap: function() {
      this.noSettings = !this.noSettings;
    },
    saveSettings: function() {
      configManager.save(this.settings);
      this.showNotification("Data saved successfully.", 'success')
    },
    showNotification: function(message, type) {
      this.notificationVisible = true;
      this.notificationMessage = message;
      if (type) {
        this.notificationType = "is-" + type;
      }
    },
    hideNotification() {
      this.notificationVisible = false;
    }
  },
  components: {
  }
};
</script>
