<template>
  <nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <router-link to="/" class="navbar-item">GC Portfolio</router-link>
      <!-- <a class="navbar-item" href="./">
        GC Portfolio
      </a> -->
      
      <a
        role="button"
        class="navbar-burger burger"
        v-bind:class="{ 'is-active': hamburgerActive }"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
        v-on:click="toggleMenu"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" v-bind:class="{ 'is-active': hamburgerActive }">
      <!-- navbar start, navbar end -->
      <div class="navbar-start">
        <router-link to="/aa" class="navbar-item">Asset Allocation</router-link>
        <router-link to="/portfoliovalue" class="navbar-item">Portfolio Value</router-link>
        <router-link to="/settings" class="navbar-item">Settings</router-link>
        <router-link to="/purchase" class="navbar-item">Purchase</router-link>
      </div>
    </div>
  </nav>
</template>
<script>
export default {
  name: "navbar",
  data() {
    return {
        hamburgerActive: false
    };
  },
  methods: {
    toggleMenu: function() {
      // event
      
      //alert("menu toggling");
      this.hamburgerActive = !this.hamburgerActive;
    }
  }
};
</script>
<style lang="scss">

</style>